[Unit]
Description=DNSMap Daemon Service
After=network.target

[Service]
ExecStart=/usr/local/bin/dnsmap -w 2 -a 0.0.0.0 -p 53 -u 9.9.9.10 -r 10.64.0.0/15
Restart=always
RestartSec=5s
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
User=proxy
Group=proxy
StandardOutput=journal
StandardError=journal
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
